
*{
	padding: 0;
	margin: 0;
}
@font-face{
	font-family: open;
	src: url('../font/openSL.tff') format("truetype");
}
@font-face{
	font-family: rob;
	src: url('../font/RoboT.ttf') format("truetype");
}
@font-face{
	font-family: sego;
	src: url('../font/SEUI.ttf') format("truetype");
}
body{
	background-color: white;
	overflow-x: hidden;
}
.menu-principal{
	font-family: sego;
	padding: 2%;
	width: 20%;
	font-size: 1.9em;
	background-color: #f1f1f1;
	height: 600px;
	overflow-y: scroll;
	z-index: -1;
	overflow-x: hidden;
}
.img-logo{
	background-color: #f1f1f1;
	border-radius: 500px;
	width: 100px;
	border:1px inset #363636;
	height: auto;
	padding: 2%;
	margin-top: 5%;
	transition: 0.3s all ease;
}
.img-logo:hover{
	transition: 0.3s all ease;
	transform: scale(1.1,1.1);
	border:1px solid #f1f1f1;
	box-shadow: 1px 0 2px 1px black;
}
ul{
	list-style: none;
	margin-left: -10.5%;
	font-family: rob;
	font-size: 0.6em;
	font-weight: bold;
}
.sub-menu1{
	list-style: none;
	margin-left: -0.1%;
	font-family: rob;
	font-size: 0.6em;
	font-weight: bold;
	display: none;
}
.sub-menu2{
	list-style: none;
	margin-left: -0.1%;
	font-family: rob;
	font-size: 0.6em;
	font-weight: bold;
	display: none;
}
.sub-menu3{
	list-style: none;
	margin-left: -0.1%;
	font-family: rob;
	font-size: 0.6em;
	font-weight: bold;
	display: none;
}
.o-p{
	background-color:white;
	color: #363636;
	padding: 5%;
	width: 100%;
	transition: 0.2s all linear;
	cursor: pointer;
}
.o-p:hover{
	background-color: #C0C5CD;
	color: black;
	border-left: 7px solid #363636;
	transition: 0.2s all linear;
}
.enlaces{
	text-decoration: none;
	color: black;
	font-size: 1.5em;
}
.enla{
	text-decoration: none;
	font-size: 1.1em;
}
.o-s{
	background-color: #D4D6C8;
	padding: 5%;
	width: 100%;
	transition: 0.2s all linear;
	cursor: pointer;
}
.o-s:hover{
	background-color: #F1F6F5;
	border-left: 7px solid #363636;
	transition: 0.2s all linear;
}
.o-s > .enlaces{	color: black;}
.o-s:hover > .enlaces{	color: black;}
.o-ps{
	background-color: rgba(0,0,0,0.8);
	padding: 5%;
	color: white;
	width: 100%;
	transition: 0.2s all linear;
}
.o-ps > .enlaces{
	color: white;
}
#plus{
	font-size: 0.7em;
	float: right;
	margin-right: 2%;
	margin-top: 3%;
}

.informacion{
	height: 639px;
	background-color: white;
	width: 76%;
	margin-left: 24%;
	margin-top: -664px;
}
.titulo-principal{
	background-color: #363636;
	color: white;
	padding: 3%;
	font-family: rob;
	font-size: 1.6em;
	margin-top: 2.4%;
}
.header-titulos{
	text-decoration: none;
	color: white;
}
.header-titulos:hover{
	font-weight: bold;
}
/*scroll*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 13px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}
.contenido-principal{
	padding: 4%;
	margin-top: 10%;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: rob;
	font-size: 1.2em;
}
.footer{
	background-color: #363636;
	width: 100%;
	color:white;
	text-align: center;
	font-family: rob;
	font-weight: bold;
	font-size: 1.2em;
	padding: 1%;
}
#titulo-efectivo{
	font-size: 1.5em;
	font-family: rob;
}
#efectivo{
	font-size: 1.8em;
	font-family: rob;
	color: #2EB872;
	font-weight: bold;
}
#titulo-cuentas{
	color: #363636;
	font-family: rob;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom:1px solid #363636;
}
.contenido-cuentas{
	padding: 4%;
}
.cuents{
	padding: 2%;
	background-color: white;
	color: #363636;
	width: 100%;
}
.tarje{
	padding: 2%;
	background-color: white;
	color: #363636;
	width: 100%;
}
.tarjeta-th{
	color: white;
	font-family: rob;
	font-size: 1.1em;
	padding: 1%;
	padding-left: 1%;
	background-color: #4A4A4A;
	padding-right: 1%;
	font-weight: bold;
}
.ingresos{
	padding: 2%;
	background-color: white;
	color: #363636;
	width: 100%;
}
.conx{
	margin-top: 2%;
}
#form-tar{
	background-color: white;
	padding: 2%;
	font-family: rob;
	display: block;
}
.lbl-input-sesion{
	font-family: sego;
	font-size: 1.1em;
	margin-left: -80%;
}
.lbl-input-datos{
	font-family: sego;
	font-size: 1.1em;
	margin-left: -1%;
}
.agregarC{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 3%;
	margin-left: 35%;
	border: 2px solid #f1f1f1;
	transition: 0.4s all ease-in;
}
.agregarC:hover{
	transition: 0.4s all linear;
	border: 2px solid black;
}
#banco,#monto,#inputext1,#inputext2,#Ncuenta,#saldo,#interes,#fecha{
	border: 1px solid gray;
	padding: 1%;
	margin: 1%;
	font-size: 1em;
	font-family: sego;
	width: 95%;
	z-index: -10;
}
th{
	color: white;
	font-family: rob;
	font-size: 1.3em;
	padding: 1%;
	padding-left: 11%;
	background-color: #4A4A4A;
	padding-right: 11%;
	font-weight: bold;
}
.th-Cuentas{
	color: white;
	font-family: rob;
	font-size: 1.2em;
	padding: 0.7%;
	padding-left: 10%;
	background-color: #363636;
	padding-right: 10%;
	font-weight: bold;
}
.tdInicio{
	color: #363636;
	font-family: rob;
	font-size: 1.2em;
	padding: 1%;
	padding-left: 11%;
	background-color: #6FA3A9;
	padding-right: 11%;
}
.form {
  background-color: white;
  padding: 20px;
  max-width:500px;
  margin: 30px auto;
  border-radius: 1px;
  display: none;
  box-shadow:0 4px 10px 4px rgba(19,35,47, 0.3);
}
.frm-se {
  background-color: white;
  padding: 20px;
  max-width:500px;
  margin: -15px auto;
  border-radius: 1px;
  display: block;
  box-shadow:0 4px 10px 4px rgba(19,35,47, 0.3);
}
.frm-gas{
  background-color: white;
  padding: 20px;
  max-width:500px;
  margin: -45px auto;
  border-radius: 1px;
  display: block;
  box-shadow:0 4px 10px 4px rgba(19,35,47, 0.3);
}
#inputbox,#inputbox2,#motivo{
	border: 1px solid gray;
	padding: 1%;
	margin: 1%;
	font-size: 1em;
	font-family: sego;
	width: 95%;
	z-index: -10;
}
.btn-ver{
	border-style: none;
	padding: 1.3%;
	font-size: 1em;
	font-family: sego;
}
#compar{
	border: 1px solid gray;
	padding: 1%;
	margin: 1%;
	font-size: 1em;
	font-family: sego;
	width: 20%;
	z-index: -10;
}
#selcuenta,#seltarjeta{
	border: 1px solid gray;
	padding: 1%;
	margin: 1%;
	font-size: 1em;
	font-family: sego;
	display: none;
	width: 95%;
	z-index: -10;
}
#selcuentaF,#seltarjetaF{
	border: 1px solid gray;
	padding: 1%;
	margin: 1%;
	font-size: 1em;
	font-family: sego;
	width: 95%;
	z-index: -10;
}
#titulo-balance{
	font-size: 1.4em;
}
#balance{
	font-size: 1.6em;
}
#btn-ingre{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 1.5%;
	font-size: 1em;
	margin-left: 5%;
	border: 2px solid black;
	transition: 0.4s all ease-in;

}
#btn-ingre:hover{
	transition: 0.4s all linear;
	background-color: #363636;
	color: #f1f1f1;
}
#btn-gas{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 1.5%;
	font-size: 1em;
	margin-left: 4%;
	border: 2px solid black;
	transition: 0.4s all ease-in;
}
#btn-gas:hover{
	transition: 0.4s all linear;
	background-color: #363636;
	color: #f1f1f1;
}
h2{
	color: black;
	text-align: center;
	font-size: 1.2em;
	font-family: sego;
	margin: 2%;
}
#titulo-tipos{
	color: #363636;
	font-weight: bold;
	font-family: rob;
	font-size: 1.1em;
}
#ty{
	color: white;
	font-family: rob;
	font-size: 1.1em;
}
.img-gr{
	width: 28%;
	margin-left: 3%;
}
.tdCuentas{
	background-color: white;
	color: #363636;
	font-family: sego;
	text-align: center;
	font-size: 1.2em;
	padding: 1%;
}
.tdTarjetas{
	background-color: white;
	color: #363636;
	font-family: sego;
	text-align: center;
	font-size: 1.2em;
	padding: 1%;
}
.tdIngresos{
	background-color: white;
	color: #363636;
	font-family: sego;
	text-align: center;
	font-size: 1.2em;
	padding: 1%;
}
.tdGastos{
	background-color: white;
	color: #363636;
	font-family: sego;
	text-align: center;
	font-size: 1.2em;
	padding: 1%;
}

.def-btn{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 1.5%;
	font-size: 0.8em;
	margin-left: 1%;
	border: 2px solid black;
	transition: 0.4s all ease-in;
}
.def-btn:hover{
	transition: 0.4s all linear;
	background-color: #363636;
	color: #f1f1f1;
}
#btn-cuentas{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 1.5%;
	font-size: 1em;
	margin-left: 5%;
	border: 2px solid black;
	transition: 0.4s all ease-in;
}
#btn-tarje{
	border-style: none;
	background-color: #f1f1f1;
	color: black;
	font-weight: bold;
	font-family: sego;
	padding: 1.5%;
	font-size: 1em;
	margin-left: 5%;
	border: 2px solid black;
	transition: 0.4s all ease-in;
}
#btn-tarje:hover{
	transition: 0.4s all linear;
	background-color: #363636;
	color: #f1f1f1;
}
.btn-cu{
	margin-left: 34%;
}
#btn-cuentas:hover{
	transition: 0.4s all linear;
	background-color: #363636;
	color: #f1f1f1;
}